<h2><%= link_to l(:label_public_keys), public_keys_path %> &#187; <%= h @gitosis_public_key %></h2>

<% if @gitosis_public_key.errors.any? %>
  <ul>
    <% @gitosis_public_key.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% form_for :public_key, @gitosis_public_key, :url => { :action => "update" }, :html => { :method => :put},
                          :builder => Redmine::Views::LabelledFormBuilder,
                          :lang => current_language do |f| %>

	<%= render :partial => 'form', :locals => { :f => f } %>
	<%= submit_tag l(:button_save) %>
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'my/sidebar' %>
<% end %>

<% html_title(l(:label_public_keys)) -%>
